<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск по Википедии</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Поиск по Википедии</h1>
        <form method="post" class="search-form">
            <input type="text" name="search" id="search-input" placeholder="Введите поисковый запрос" required>
            <select name="language">
                <option value="en">English</option>
                <option value="ru">Русский</option>
            </select>
            <button type="submit" id="search-button">Поиск</button>
        </form>
        <div class="authors">
            <div class="author">
                <img src="Nikitos.jpg">
                <p>Никитос</p>
            </div>
            <div class="author">
                <img src="Alexander.jpg">
                <p>Александр</p>
            </div>
        </div>
    </div>
</body>
</html>
